<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= yang %></title>
    <link rel="stylesheet" href="/stylesheets/yang.css" />
  </head>
  <body>
    <h1>Welcome to the <%= yang %> side</h1>
    <img
      src="https://cdn2.vectorstock.com/i/1000x1000/25/16/yin-yang-symbol-harmony-and-balance-happy-vector-32102516.jpg"
      alt="yang Symbol"
    />
    <img src="https://i.imgflip.com/6oav7g.jpg" alt="Light" />
    <p>
      Brighter than bright, more holy than light, Let my soul's shine blaze,
      cutting through the night, Illuminating the darkness with endless might,
      <%= yang %> RADIAAAAAAAAAAAAAAAANCE!
    </p>
    <a href="http://localhost:3000/yin">Yin</a>
    <a href="http://localhost:3000/yo">Yo</a>
  </body>
</html>
