<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= yin %></title>
    <link rel="stylesheet" href="/stylesheets/yin.css" />
  </head>
  <body>
    <h1>Welcome to the <%= yin %> side</h1>
    <img
      src="https://bayareacbtcenter.com/wp-content/uploads/2024/07/shutterstock_207062314.jpg"
      alt="Yin Symbol"
    />
    <img
      src="https://i.ebayimg.com/images/g/2ncAAOSw-MpeSuol/s-l400.jpg"
      alt="Cookies"
    />
    <p>
      Darker than dark, blacker than black, Within this endless night, where
      light shall crack, Let my soul dissolve into the abyss, Fading into the
      everlasting darkness, <%= yin %> EXPLOOOOOOOOOOOOSIIIIONE!
    </p>
    <a href="http://localhost:3000/yang">Yang</a>
    <a href="http://localhost:3000/yo">Yo</a>
  </body>
</html>
